.container-landing {
	width                : 100vw;
	height               : 100vh;
	display              : grid;
	grid-template-columns: 100px 100px 2fr 50px 1fr;
	grid-template-rows   : 30px 100px 2fr .5fr 30px;
	grid-column-gap      : 0;
	grid-row-gap         : 20px;
	align-items          : baseline;
	justify-items        : center;

	.logo {
		grid-area: 2 / 2 / 3 / 3;
	}

	.landing-copy {
		grid-area  : 4 / 2 / 5 / 4;
		font       : 2.25em 'Playfair Display';
		line-height: .9em;
		padding    : 10px;
		text-align : left;
	}

	.landing-image {
		grid-area: 2 / 5 / 4 / 6;
		//position : relative;
		> img {
			object-fit        : contain;
			max-width         : 100%;
			max-height        : 65vh;
			margin-right      : 30px;
			-moz-box-shadow   : 3px 3px 5px #ccc;
			-webkit-box-shadow: 3px 3px 5px #ccc;
			box-shadow        : 3px 3px 5px #ccc;
		}
	}

	.footer {
		grid-area: 6 / 1 / 7 / 6;
	}
}
