@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Old+Standard+TT&display=swap');
$black: #232b2b;
$white: #f9f1f1;
$forest: #334431;
$pink: rgba(242, 203, 188, 0.53);
$orange: #fa5951;
$dkorange: #e4514a;
$blue: #3d3e8a;
$rose: #e47485;
$green: #4ce0b3;

* {
	//box-sizing: border-box;
	// outline   : 1px solid hotpink;
	::selection {
		background: $orange;
		color     : $black;
	}
}

body {
	background: rgba($pink, 0.5);
	color     : $orange;
	font      : 16pt 'Playfair Display', 'Old Standard TT', serif;
	margin    : 0;
	overflow-x: hidden;
	transition: font-size .3s ease;
	@media (max-width: 1660px) {
		font-size: 14pt;
	}
	@media (max-width: 1280px) {
		font-size: 12pt;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', 'Old Standard TT', serif;
	font-weight: 900;
}

figure {
	margin: 0;
}

img {
	border-style: none;
	display     : block;
	width       : 50%;

	&::before {
		content    : '';
		padding-top: 100%;
		float      : left;
	}

	&::after {
		content: '';
		display: block;
		clear  : both;
	}
}

.large {
	display        : block;
	margin: 0 auto;
  padding-bottom: 2em;
	transform      : rotate(90deg);
	color          : $black;
	font-size      : 9em;
	font-weight    : 900;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $green;
	}
}
