/**
  * Webfont imports
  */

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('{{ site.baseurl }}/assets/fonts/CooperHewitt-BoldItalic.eot'), url('{{ site.baseurl }}/assets/fonts/CooperHewitt-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Lulo';
  src: url('{{ site.baseurl }}/assets/fonts/lulo-webfont.eot');
  src: url('{{ site.baseurl }}/assets/fonts/lulo-webfont.eot?#iefix') format('embedded-opentype'), url('{{ site.baseurl }}/assets/fonts/lulo-webfont.woff2') format('woff2'), url('{{ site.baseurl }}/assets/fonts/lulo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
