/**
  * Project Variables
  * Variables should only be defined if:
  * * 1. the value is repeated more than once
  * * 2. the value is likely to be updated
  * * 3. all occurences of the value are tied to the variable, no coincidence
  */

/* Color Palette*/

$persimmon: #ff614e;
$pink: #ffe1e9;
$red: #ff1939;
$tangerine: #ff8c7e;
$cherry: #b63662;
$jp-indigo: #2f545c;
$white: #f9f1f1;


/* Colors to use-case name*/
$primary: $pink;
$secondary: $red;
$accent1: $jp-indigo;
$accent2: $tangerine;

/* Fonts */
$main-font: 'Lulo', 'Playfair Display', serif;
$link-font: 'Cooper Hewitt', 'Oswald', serif;

/* Breakpoints */
// Define per object
