/**
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

/**
  * Parent container of button links
  * used to prevent hover-expansion from affected rest of layout
  */

.btn-container {
  @include size(2rem);

  display: block;
  margin: .5em;
}

.btn {
  @include size(1.5rem);
  @include ease-in-out-back(width);

  display: block;
  margin: 0 auto;
  transform: rotate(90deg); /* point arrow down */
  border-radius: 50%;

  background-color: $s-dark;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    @include size(1.8rem);
  }
}
