.hero-container {
  @include flex-col;
  @include hero(none, center);

  align-items: center;
  justify-content: space-evenly;
}

.hero {
  align-self: center;
  margin: 0 auto;
  padding: 1rem;
}

.heart {
  @include ease-in-out-quad(font-size);

  font-size: 7vw;
  font-weight: 700;
  //letter-spacing: -0.2em;
  text-shadow: 2px 2px 2px $cherry;
}

.heart-pulse {
  &:active,
  &:focus,
  &:hover {
    animation: pulse 1s ease infinite;
  }
}

.hero-image-container {
  @include flex-row;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;

  align-items: center;
  justify-content: center;
  max-width: 75vw;
  height: auto;
  transform: translate(-50%, -50%);

  img {
    max-width: 45%;
  }

  /* Breakpoint 1 */
  @media (max-width: 1100px) {
    max-width: 90vw;

    img {
      max-width: 50%;
    }
  }
  /* Breakpoint 2 */
  @media (max-width: 850px) {
    max-width: 98vw;

    img {
      max-width: 70%;
    }
  }
  /* Breakpoint 3 */
  @media (max-width: 625px) {
    max-width: 100%;

    img {
      max-width: 95%;
    }
  }
}
