<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>Kyanne & Aaron</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/master.css">
	</head>

	<body>

		<!-- LANDING -->
		<section id="container-landing">
			<div class="background">

			</div>
			<div class="landing">
				<p id="landing-text">
					My lover, my love.
				</p>
				<a href="#container-2" class="btn">-></a>
			</div>
		</section>
		<!-- /LANDING -->

		<!-- NEXT PAGE -->
		<section id="container-2">
			<div class="photo1 photo-size">
				<img src="/assets/images/apr.jpeg" alt="">
			</div>
			<div class="two-photos photo-size">
				<div class="flex">
					<img src="/assets/images/mar.jpeg" alt="">
					<img src="/assets/images/jan1.jpeg" alt="">
				</div>
			</div>
		</section>
		<!-- /NEXT PAGE -->

	</body>

</html>
