<!-- HOME PAGE -->
{% include head.html %}

<body>

  <div class="landing-container">
    <!-- <a href="#kyanne-and-aaron"><i class="fa fa-heart"></i></a> -->
    <a href="#kyanne-and-aaron">Kyanne & Aaron</a>
  </div>

  <div id="kyanne-and-aaron" class="hero-container">

    <a class="heart-pulse" href="#timeline-container">
      <h1 class="heart"><i class='fa fa-heart'></i></h1>
    </a>

    <div class="hero-image-container">
      <img src="{{ site.baseurl }}/assets/images/solo-kyanne.jpeg" alt="Aaron">
      <img src="{{ site.baseurl }}/assets/images/solo-aaron.jpeg" alt="Kyanne">
    </div>

  </div>

  <div id="timeline-container" class="timeline">

    <h1>2018/2019</h1>
    <!-- December -->
    <div class="photostrip-container">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/dec2018.jpeg" alt="Our first date" />
      </figure>
      <figcaption class="date">Dec 2018</figcaption>
    </div>

    <!-- January -->
    <div class="photostrip-container reverse">
      <figure class="photostrip" style="padding-left: 100px;">
        <img src="{{ site.baseurl }}/assets/images/jan1.jpeg" alt="We're in love!" />
        <img src="{{ site.baseurl }}/assets/images/jan2.jpeg" alt="So grossly in love">
      </figure>
      <figcaption class="date">Jan 2019</figcaption>
    </div>

    <!-- February -->
    <div class="photostrip-container">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/feb.jpeg" alt="Our first date" />
      </figure>
      <figcaption class="date">Feb 2019</figcaption>
    </div>

    <!-- March -->
    <div class="photostrip-container reverse">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/mar.jpeg" alt="We're in love!" />
      </figure>
      <figcaption class="date">Mar 2019</figcaption>
    </div>

    <!-- April -->
    <div class="photostrip-container">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/apr.jpeg" alt="Our first date" />
      </figure>
      <figcaption class="date">Apr 2019</figcaption>
    </div>

    <!-- May -->
    <div class="photostrip-container reverse">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/may.jpeg" alt="We're in love!" />
      </figure>
      <figcaption class="date">May 2019</figcaption>
    </div>

    <!-- August -->
    <div class="photostrip-container">
      <figure class="photostrip">
        <img src="{{ site.baseurl }}/assets/images/aug2.jpeg" alt="Our first date" />
      </figure>
      <figcaption class="date">Aug 2019</figcaption>
    </div>

    <div class="photostrip-container">
      <p>...to be continued</p>
    </div>
    <div class="photostrip-container">
      <figure class="photostrip">
        <img style="max-width: 60%; z-index:999; margin-bottom:-1em;" src="{{ site.baseurl }}/assets/images/aug1.jpeg" alt="See you, space cowboy...">
      </figure>
    </div>

  </div>
</body>
