<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>Kyanne & Aaron</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/master.css">
	</head>

	<body>

		<!-- LANDING -->
		<section id="container-landing">
			<div class="background">

			</div>
			<div class="landing">
				<p id="landing-text">
					My lover, my love.
				</p>
				<a href="#first-set" class="btn">-></a>
			</div>
		</section>
		<!-- /LANDING -->

		<!-- FIRST SET -->
		<div id="first-set" class="img-row double flex justify-ctr">
			<figure class="flex align-end transY" style="width: 17%;">
				<a href="#" class="fig-link"> <img style="margin-left: 15vw;" src="/assets/images/apr.jpeg" alt=""> </a>
			</figure>

			<section class=" flex justify-end" style="margin-right:5vw;">
				<figure class="flex align-ctr transY" style="width: 20%;">
					<a href="#" class="fig-link"> <img style="matrix(1, 0, 0, 1, 0, 0); margin-left:2em;" src="/assets/images/jan1.jpeg" alt=""> </a>
				</figure>
				<figure class="flex align-end transY" style="width: 10vw;">
					<a href="#" class="fig-link"> <img style="matrix(1, 0, 0, 1, 0, 0);" src="/assets/images/mar.jpeg" alt=""> </a>
				</figure>
			</section>
		</div>
		<!-- /FIRST SET -->

		<!-- SECOND SET -->
		<div id="second-set" class="img-row single flex justify-ctr">
			<figure class="flex align-baseline">
				<a class="fig-link-alt" href="#"> <img src="/assets/images/feb.jpeg" alt=""> </a>
			</figure>

			<figure class="flex align-ctr" style="width: 20%;">
				<a href="#" class="fig-link-alt"> <img src="/assets/images/apr.jpeg" alt=""> </a>
			</figure>
		</div>
		<!-- /SECOND SET -->
	</body>

</html>
