/**
  * Typography rules
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
  font-weight: 400;
}

a {
  @include ease-in-out-quad(color);

  background: none;
  color: inherit;
  font: 1rem $link-font;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}



// .gradient-hover {
//   background: none;
//   color: inherit;
//
//   &:hover,
//   &:active,
//   &:focus {
//     background: -webkit-gradient(linear, left top, right top, from($secondary), to($primary));
//     background: -o-linear-gradient(left, $secondary, $primary);
//     background: linear-gradient(to right, $secondary, $primary);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }
